@import url(/css/variables.css);
@import url(/css/fonts.css);
*{
  padding: 0%;
  margin: 0%;
  font-family: "Rubik", sans-serif;
  
text-decoration: none;



}
body{
    background-color: var(--color-background);
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.rejilla__img{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   overflow-y: scroll;
   height: 65vh;
   border-radius: 0 0 2rem 2rem;
   gap: 0.8rem;
   width: 100%;
   height: 90%;


  
   padding-bottom: 0;
  
 
    }

.titulo__right{
    font-size: large;

 border-radius: 2rem 2rem 0 0 ;
padding: 1rem;
padding-top:0.2rem;
background-color:var(--color-background--2)
}
.todos__img{
    width: 100%;
    height: auto;

    
   

    
}


.opciones{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    background-color: var(--color-background);
    
}
.right{
    padding-bottom: 0;
    height: 90vh;
    width: 97%;
    display: flex;
    overflow-y: hidden;
    margin-top: 2rem;
    flex-direction: column;
    
}

.opciones h1{
    display: flex;
    font-size: 40px;
    padding-top: 1em;
    padding-bottom: 1em;

}

.clothes{
    display: flex;
    flex-direction: column;
   
    gap: 3.5rem;
    font-size: larger;
    margin-right: 3rem;
    
    
    
    
}
.opciones a{
    color: #000;
}
.carrito {
    display: flex;
    gap: 3rem;
    
    
    
}
.copy{
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.scroll{
    background-color:var(--color-background--2);
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 40px;
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

  
    
    
    
    
    
}
.img__todos{
    display: flex;
   
    align-items: center;
    /* border: solid red; */
    border-radius: 1.5rem;
    font-weight: 400;
    
}
.img__text{
    display: flex;
    /* justify-content: center; */
    
    background-color: var(--color-bone);
    width: 100%;
    height: 60%;
      

    
    border-radius: 1rem 1rem 1rem 1rem;
    
    
}

.img__text p{
    margin-left: 12px;
    display: flex;
    margin-top: 5px;
    
   

}

.precio__boton{
    display: flex;
    gap: 7rem;
    margin-top: 0.5em
    


}
.precio__boton button{
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: 0;
    background-color: var(--color-rosa-fuerte);
    font-weight: bolder;
    cursor: pointer;  


}
.icono_carrito {
    display: flex;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
  
  
}
.cuadrito{
    display: flex;
    border: solid var(--color-rosa-fuerte);
    padding: 0.2rem;
    font-size: 15px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.3rem;
    border-width: 2px;
    cursor: pointer;
}
.img__todos img{
    border-radius: 1.5rem 1.5rem  0 ;
    overflow: hidden;
    width: 6em; }
    

.img__todos{
    display: flex;
    width: 97%;
    height: 118px;
    background-color: var(--color-bone);
   margin-left: 7px;
    
}
a::after{
    content:"";
    height: 4px;
    width: 0;
    background-color: var(--color-rosa-fuerte);
    display:block;
    transition: all 300ms;



}


a:hover::after{
    width: 10%;

}

i {
    color: var(--color-rosa-fuerte);
   
    
}
.botones__footer{
    display: flex;
   gap: 500px;
   justify-content: center;
    
  
}
.comprar{
    display: flex;
    gap: 3rem;
    background: var(--color-bone);
    padding: 10px;
    border-radius: 1rem;
}
.comprar button{
    margin: 0;
    border: none;
    border-radius: 0.5rem;
 padding: 10px;
 background-color: var(--color-rosa-fuerte);
 cursor: pointer;
}

.vaciar button{
    background-color: var(--color-rosa-fuerte);
    border:solid 4px;
    border-color: var(--color-bone);
    padding: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    
    border-radius: 0.5rem;
  

}
.vaciar{
    display: flex;
  margin-left: 5px;
    align-items: center;
}
.cuadrito__3  :nth-child(2){
  
background-color: var(--color-background);
border: 1px;
border: solid var(--color-rosa-fuerte);
border-radius: 1rem;
display: flex;
padding: 0.3rem;
padding-top: 0;
padding-bottom: 0;
   
  
    
}

