@import url(/css/variables.css);
@import url(/css/fonts.css);
*{
  padding: 0%;
  margin: 0%;
  font-family: "Rubik", sans-serif;
  
text-decoration: none;


}
body{
    background-color: var(--color-background);
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.rejilla__img{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   overflow-y: scroll;
   height: 65vh;
   border-radius: 0 0 2rem 2rem;
   gap: 0.8rem;
   width: 100%;
   height: 87%;


  
   padding-bottom: 0;
  
 
    }

.titulo__right{
    font-size: large;

 border-radius: 2rem 2rem 0 0 ;
padding: 1rem;
background-color:var(--color-background--2)
}
.todos__img{
    width: 100%;
    height: auto;

    
   

    
}


.opciones{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    background-color: var(--color-background);
    
}
.right{
    padding-bottom: 0;
    height: 90vh;
    width: 95%;
    display: flex;
    overflow-y: hidden;
    margin-top: 2rem;
    
}

.opciones h1{
    display: flex;
    font-size: 40px;
    padding-top: 1em;
    padding-bottom: 1em;

}

.clothes{
    display: flex;
    flex-direction: column;
   
    gap: 3.5rem;
    font-size: larger;
    margin-right: 3rem;
    
    
    
    
}
.opciones a{
    color: #000;
}
.carrito{
    display: flex;
    gap: 3rem;
    
    
    
}
.copy{
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.scroll{
    background-color:var(--color-background--2);
    padding: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 40px;
    width: 100%;
  
    
    
    
    
    
}
.img__todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid red; */
    border-radius: 1.5rem;
    font-weight: 500;
    
}
.img__text{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: var(--color-background);
    width: 100%;
    height: 60%;
   
   

    
    border-radius: 1rem 1rem 1rem 1rem;
    
    
}

.img__text p{
    margin-left: 12px;
    display: flex;
    margin-top: 5px;
   

}

.precio__boton{
    display: flex;
    gap: 3rem;
    margin-top: 0.5em
    


}
.precio__boton button{
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: 0;
    background-color: var(--color-rosa-fuerte);
  


}
.img__todos img{
    border-radius: 1.5rem 1.5rem  0 ;
    overflow: hidden;
    object-fit: contain }
    

.img__todos{
        display: flex;
        width: 200px;
    height: 215px;
    background-color: var(--color-bone);
   margin-left: 7px;
    
}