@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

/* Estilos generales */
* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-orange);
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: #1e1d2b;
   
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
}
/* *****************menu boton extraño******************* */
.menu{
    display: flex;
    width: 100%;
}
.menu{
    color: var(--color-white);
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    gap: 15px;
}
.menu a{
    text-decoration: none;
    color: var(--color-white);
}
.menu li{
    color: var(--color-secundary);
}
.menu a:hover{
    transition: 0.3s ease;
    scale: 1.2;
    color: var(--color-orange);
}
.open-menu{
    top: 20px;
    right: 20px;
    display: none;
    position: absolute;
    background: var(--color-orange);
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10%;
}
.close-menu{
    top: 20px;
    right: 20px;
    display: none;
    position: absolute;
    width: 40px;
    font-size: 35px;
    height: 40px;
    border-radius: 10%;
    color: var(--color-orange);
}
#menu{
    display: none;
}


/* ************************************************ */
/* ------general------- */

/* Estilos del nav-bar */
#nav-menu {
    display:flex;
    
    width: 182vh;
    margin: 0;
    height: 90px;
    padding: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1d2b;
    z-index: 999;

}

.menu {
    /* margin-top: 10px; */
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    
    gap: 4vw
}

#menu,
.bx-menu {
    display: none;
}

#nav-menu,
ul {
    display: flex;
    text-align: right;
    margin: 0;
    
}

#nav-menu ul li {
    list-style: none;
    display: inline-block;
    
    /* margin: 0 2.5%; */
}

.items-menu {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
    position: relative;
}

.items-menu:hover {
    color: var(--color-orange);
    position: relative;
}

.foods-nav {
    text-decoration: none;
    color: var(--color-orange);
    font-size: 2rem;
    margin-left: 2.5%;
    font-weight: 100px;
}

.menu {
    width: 100%;
    padding-left: 0;
    margin-left: 0;

}

/* --------nav-bar--fin-------- */
/* Primera seccion */
.buttons {
    color: #ffffff;
    background-color: var(--color-orange);
    border: none;
    padding: 1%;
   
    
   
   
   
}
.button_full{
    color: #ffffff;
    background-color: var(--color-orange);
    border: none;
    padding: 1%;
    width: 20%;

}
.buttons__footer{
    color: #ffffff;
    background-color: var(--color-orange);
    border: none;
    padding: 0.5%;
    width: 10%;

}

.contenedor {
    /* margin-top: 1%; */
   
    width: 100%;
   
    /* background-color: aqua; */
}

/* Primera seccion */
.full-website {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1%;
    /* padding: 2%; */
    height: 100vh;
}

.text-box {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.text-box h1 {
    font-size: 5.5rem;
}

.text-box p {
    font-size: 2rem;
    color: #ffffff;
}
.img-home{
    width: 35vw;

  
   
   
}
.img-home img {
    width: 100%;
}

/* segunda seccion */

.about-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    /* gap: 1%; */
    width: 100%;
    /* padding: 6%; */
    height: 100vh;
}

.text-box-about {
    text-align: left;
    /* padding-left: 1%; */
}

.titulito {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-orange);
    font-weight: 400;
}

.text-box-about .titulito {
    text-align: left;
    font-size: 1.2rem;
    color: var(--color-orange);
    font-weight: 400;
}

.text-box-about h1 {
    font-size: 2.8rem;
    color: #ffffff;
}

.text-box-about p {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
}

.imgabout{
    width: 100%;
}
.imgabout img {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

/*  tercera seccion */

.food-menu h1 {
    color: #ffffff;
    font-size: 2.8rem;
    text-align: center;
    /* padding: 4%; */
   
}
.food-menu{
    height: 100vh;
}


.targets {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 4%;
}

.target-food-menu {
    /* padding: 10%; */
    background-color: #ffefe8;
    padding: 5px;
    /* border: 1px solid #ffefe8;  */
    border-radius: 2%;
    box-shadow: 6px 6px #000000;
    text-align: center;
}

.target-food-menu img {
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 5%; */
}

.target-food-menu h2 {
    font-size: 1.7rem;
    text-align: center;
    color: #000000;
}

.target-food-menu h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: #000000;
}

.target-food-menu p {
    font-size: 1.1rem;
    text-align: center;
}

.services {
    width: 100%;
    height: 100vh;
   
}

.targets-services {
    width: 100%;
    /* padding: 10%; */
    /* background-color: #ffefe8; */
    padding: 2vw;
    /* border: 1px solid #ffefe8;  */
    border-radius: 2%;
    /* box-shadow: 6px 6px #000000;  */
}

.targets-services img {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
}

.targets-services h2 {
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-orange);
}

.targets-services p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    text-align: center;
}

.services h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.8rem;
}
/* Seccion cuarto */


/* seccion 5 */

.food-everyday {
  height: 200px;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #ffefe8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}


.food-everyday h1 {
    font-weight: 600;
    font-size: 35px;
    color: #000000;
    padding: 2%;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 30vh;
    width: 80%;
     padding-top: 100px;
    /* padding-left: 200px; */
    
    }
.seccion__1{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
 
   

}
.seccion__1 h3{
    display: flex;
    text-decoration: underline;
    font-weight: 800px;
    font-size: 150%;
    align-self: flex-start;
    margin-left: 42%}
.seccion__1 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
   
   
  
}


.seccion__2{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.seccion__2 h3{
    display: flex;
    text-decoration: underline;
    font-weight: 800px;
    font-size: 150%;
    align-self: flex-start;
    margin-left: 27%

}
.seccion__2 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
   
}
.seccion__3{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.seccion__3 h3{
    display: flex;
    text-decoration: underline;
    font-weight: 800px;
    font-size: 150%;
    align-self: flex-start;
    margin-left: 28%;
    

}
.seccion__3 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
   
}

.seccion__4{
    display: flex;
    gap: 5px;
    flex-direction:column;

}

.seccion__4 h3{
    display: flex;
    text-decoration: underline;
    font-weight: 800px;
    font-size: 150%;
    align-self: flex-start;
    margin-left: 32%px
}
.seccion__4 ul{
    display: flex;
   
    align-items: start;
}

.seccion__4 i{
    display: flex;
   justify-content: center;
   font-size: 23px

}
@media (width < 800px){
    .body{
        width: 100%;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        position: fixed;
        gap: 3%;
        top: -100%;
        left: 0;
        z-index: 100;
        background: #1e1d2bda;
        transition:  0.4s ease;
    }
    .menu li a{
        color: var(--color-white);
        font-size: 30px;
    }
    .open-menu, .close-menu{
        display: block;
    }
    #menu:checked~.menu{
        top: 0;
    }
    #nav-menu{
        height: 50px;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;

    }
  .full-website{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 45vh;
    padding: 0;
    padding-top: 30px;

    
    margin: 0;
    align-items: center;

  }

  .img-home{
    width: 100%;
 

   
   
 
  }
  
  .img-home img{
    width: 100%;
    display: flex;
    justify-content: center;
 margin-left: 32px

   
   
 
  }
    
  .text-box {
    text-align: center;
    display: flex;
    
    flex-direction: column;
    padding-left: 10%;
    display: flex;
    align-items: center;
    
    
}
.button_full{
   display: flex;
   justify-content: center;
 
    width: 40%;
}
.text-box h1 {
    padding-top: 1rem;
    font-size: 3.5rem;
    
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.about-us{
    display: flex;
  
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
 

}
.text-box-about{
    width: 70%;
    align-self: center;
}
.imgabout{
    width: 80%;
}

  /* /////////////////////////// */
   .footer{
    overflow-x: hidden;
   }
}