<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../storage/img/icono.png" type="image/png">
    <link rel="stylesheet" href="../css/carrito.css">
    <title>Carrito</title>
</head>
<body>
    <main >
        <aside class="opciones">
            <h1>CampusShop</h1>
            <div class="clothes">
                <div class="op__iconos">
                    <i class='bx bx-home-heart'></i>
                    <a href="../index.html">Todos los productos</a>
                </div>
                <div class="op__iconos">
                    <i class='bx bx-heart-circle'></i>
                    <a href="abrigos.html">Abrigos</a>
                </div>
                <div class="op__iconos">
                    <i class='bx bx-heart-circle'></i>
                    <a href="camisetas.html">Camisetas</a>
                </div>
                <div class="op__iconos">
                    <i class='bx bx-heart-circle'></i>
                    <a href="pantalones.html">Pantalones</a>
                </div>
                <div class="carrito">
                  
                    <a href="carrito.html"> <i class='bx bx-cart'></i> Carritos</a>
                   <div class="cuadrito">
                    <p>3</p>
                    </div>
                
                </div>
                <div class="copy">
                 <p>© 2024 Camper </p>
                </div>

             
        </aside>
        <section class="right">
            <section class="scroll">
              <header class="titulo__right">
                
                <h2><i class='bx bxs-cat'></i></i> Carrito</h2>

             </header>
             <div class="rejilla__img">
                <div class="img__todos">
                    <img src="../storage/img/abrigo__1.png" alt="" class="todos__img">
                <div class="img__text">
                  
                    <div class="precio__boton">
                        <div class="nombre">
                             <p>Nombre</p>
                             <p>Abrigo 01</p>
                        </div>
                        <div>
                             <p>Precio</p>
                            <p>$1.000</p>
                        </div>
                       
                        <div class="cuadrito__2">
                           
                            <div class="cuadrito__3">
                                <p>Cantidad</p>
                              <p>2</p>
                            </div>
                            
                        </div>
                        <div class="subtotal">
                            <p>Subtotal</p>
                            <p>$2.000</p>
                        </div>
                        <div class="icono_carrito">
                            <i class='bx bx-trash-alt' width="300px"></i>

                        </div>
                       
                  

                     </div>
            
                </div>
                </div>
                <div class="img__todos">
                    <img src="../storage/img/abrigo__2.png" alt="" class="todos__img">
                <div class="img__text">
                  
                    <div class="precio__boton">
                        <div class="nombre">
                             <p>Nombre</p>
                             <p>Abrigo 01</p>
                        </div>
                        <div>
                             <p>Precio</p>
                            <p>$1.000</p>
                        </div>
                       
                        <div class="cuadrito__2">
                            <div class="cuadrito__3">
                                <p>Cantidad</p>
                                <p>2</p>
                              </div>
                        </div>
                        <div class="subtotal">
                            <p>Subtotal</p>
                            <p>$2.000</p>
                        </div>
                        <div class="icono_carrito">
                            <i class='bx bx-trash-alt' width="300px"></i>

                        </div>
                       
                  

                     </div>
            
                </div>
                </div>

                


                
                <div class="img__todos">
                    <img src="../storage/img/camisa__1.png" alt="" class="todos__img">
                <div class="img__text">
                  
                    <div class="precio__boton">
                        <div class="nombre">
                             <p>Nombre</p>
                             <p>Abrigo 01</p>
                        </div>
                        <div>
                             <p>Precio</p>
                            <p>$1.000</p>
                        </div>
                       
                        <div class="cuadrito__2">
                            <div class="cuadrito__3">
                                <p>cantidad</p>
                                <p>2</p>
                              </div>
                        </div>
                        <div class="subtotal">
                            <p>Subtotal</p>
                            <p>$2.000</p>
                        </div>
                        <div class="icono_carrito">
                            <i class='bx bx-trash-alt' width="300px"></i>

                        </div>
                       
                  

                     </div>
            
                </div>
                </div>
                <div class="img__todos">
                    <img src="../storage/img/camisa__1.png" alt="" class="todos__img">
                <div class="img__text">
                  
                    <div class="precio__boton">
                        <div class="nombre">
                             <p>Nombre</p>
                             <p>Abrigo 01</p>
                        </div>
                        <div>
                             <p>Precio</p>
                            <p>$1.000</p>
                        </div>
                       
                        <div class="cuadrito__2">
                            <div class="cuadrito__3">
                                <p>cantidad</p>
                                <p>2</p>
                              </div>
                        </div>
                        <div class="subtotal">
                            <p>Subtotal</p>
                            <p>$2.000</p>
                        </div>
                        <div class="icono_carrito">
                            <i class='bx bx-trash-alt' width="300px"></i>

                        </div>
                       
                  

                     </div>
            
                </div>
                </div>


                <!-- ///////////////////////////////////// BOTONES PARA VACIAR Y COMPRAR -->
                <div class="botones__footer">
                    <div class="vaciar">
                        <a href="carrito__vacio.html"><button>Vaciar carrito</button></a>
                    </div>
                    <div class="comprar">
                        <div class="precio">
                            <p>Total</p>
                            <p>$2000</p>
                        </div>
                       
                        <button>Comprar ahora</button>

                    </div>

                </div>

           


                    
                
            </section>


        </section>
    </main>
    
</body>
</html>