<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="../storage/img/icono.png" type="image/png">
    <link rel="stylesheet" href="../css/carrito__vacio.css">
    <title>Carrito</title>
</head>
<body>
    <main >
        <aside class="opciones">
            <h1>CampusShop</h1>
            <div class="clothes">
                <div class="op__iconos">
                    <i class='bx bx-home-heart'></i>
                    <a href="../index.html">Todos los productos</a>
                </div>
                <div class="op__iconos">
                    <i class='bx bx-heart-circle'></i>
                    <a href="abrigos.html">Abrigos</a>
                </div>
                <div class="op__iconos">
                    <i class='bx bx-heart-circle'></i>
                    <a href="camisetas.html">Camisetas</a>
                </div>
                <div class="op__iconos">
                    <i class='bx bx-heart-circle'></i>
                    <a href="pantalones.html">Pantalones</a>
                </div>
                <div class="carrito">
                  
                    <a href="carrito.html"> <i class='bx bx-cart'></i> Carritos</a>
                   <div class="cuadrito">
                    <p>0</p>
                    </div>
                
                </div>
                <div class="copy">
                 <p>© 2024 Camper </p>
                </div>

             
        </aside>
        <section class="right">
            <section class="scroll">
              <header class="titulo__right">
                
                <h2><i class='bx bxs-cat'></i></i> Carrito</h2>

             </header>
             <div class="rejilla__img">
                <h4>Tu carrito esta vacio :(. </h4>
             </div>
              
             

              
           


                    
                
            </section>


        </section>
    </main>
    
</body>
</html>